.parent {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;

  .sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    border: 5px solid pink;
    margin-bottom: 10px;
    .title {
      margin: 10px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
